body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #000;
    transition: background 0.5s ease-out;
    font-family: 'Josefin Sans', sans-serif;
}

.dark body {
    background-color: #fff;
}

#todo-board {
    position: absolute;
    top: 50px;
    left: 320px;
}


form {
    padding: 7px 50px;
    margin: 40px 0;
}

input[type='text'] {
    background: transparent;
}

input[type='radio'] {
    background: transparent;
}

input :focus {
    outline: none;
}

.todo-list {
    margin-top: -25px;
}

.list-items {
    max-height: 430px;
    overflow-y: scroll;
    color: #fff;
}

.undone {
    width: 20px;
    height: 20px;
    border: 1px solid #808080;
    border-radius: 50%;
}

.checked {
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    transition: background 0.5s ease-out;
  }

.iconchecked {
    display: block;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* justify-content: space-between; */
    font-size: 16px;
    padding: 20px 50px;
    /* color: white; */
    border-bottom: 1px solid white;
}

.deleteBtn {
    display: none;
    justify-self: flex-end;
}

.items:hover .deleteBtn {
    display: block;
}

.namechecked {
    text-decoration: line-through;
    opacity: 0.5;
}

.butt:focus {
    outline: none;
}

.active {
    color: blue;
}

.filterBtns {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(223, 136, 136);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;

  }

@media screen and (max-width: 1024px) {
    #todo-board {
        position: absolute;
        top: 100px;
        left: 90px;
    }
    .todo-list {
        height: 900px;
    }
}

@media screen and (max-width: 768px) {
    #todo-board {
        position: absolute;
        top: 100px;
        left: 80px;
    }
    .todo-list {
        height: 610px;
    }
    form {
        padding: 7px 28px;
    }
    .items {
        padding: 20px 28px;
    }
}

@media screen and (max-width: 540px) {
    #todo-board {
        position: absolute;
        top: 80px;
        left: 20px;
    }
    .todo-list {
        height: 295px;
    }
    form {
        padding: 7px 12px;
    }
    .items {
        padding: 4px 10px;
    }
    .list-items {
        height: 300px;
    }
    .deleteBtn {
        display: block;
    }
    .filterBtns {
        display: grid;
        justify-items: center;
        justify-content: space-between;
        gap: 20px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .filterBtns :nth-child(2) {
        order: 3;
        align-self: center;
        grid-column: span 2 / span 2;
    }
    .filterBtns :nth-child(3) {
        order: 2;
    }
}

@media screen and (max-width: 380px) {
    .list-items {
        height: 380px;
    }
    .todo-list {
        height: 390px;
    }
    #todo-board {
        position: absolute;
        top: 25px;
        left: 15px;
    }
    form {
        padding: 3px 50px;
        margin: 35px 0;
    }
}