body {
    font-family: 'Josefin Sans', sans-serif;
}

#todo-board {
    position: absolute;
    top: 100px;
    left: 350px;
}

form {
    padding: 7px 50px;
    margin: 40px 0;
}

input[type='text'] {
    background: transparent;
}

input[type='radio'] {
    background: transparent;
}

input :focus {
    outline: none;
}

.todo-list {
    margin-top: 50px;
}

.undone {
    width: 20px;
    height: 20px;
    border: 1px solid #808080;
    border-radius: 50%;
}

.checked {
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }

.iconchecked {
    display: block;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 30px 50px;
    color: white;
    border-bottom: 1px solid white;
}

.deleteBtn {
    display: none;
}

.items:hover .deleteBtn {
    display: block;
}

.namechecked {
    text-decoration: line-through;
    opacity: 0.5;
}

.butt a:focus {
    outline: none;
}

.active {
    color: blue;
}


@media screen and (max-width: 768px) {
    #todo-board {
        position: absolute;
        top: 100px;
        left: 80px;
    }
}

@media screen and (max-width: 540px) {
    #todo-board {
        position: absolute;
        top: 80px;
        left: 30px;
    }
}